<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a class="nav-link" href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
            <a class="nav-link" href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
            <a class="nav-link" href="https://www.linkedin.com/"><i class="fa-brands fa-square-linkedin"></i></a>
        </div>
        <div class="f-info-brand"> &copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            &nbsp;&nbsp;
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>